/* 
*{
    border: 1px rgb(60, 255, 0) solid;
} */

body{
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
}

.fa-brands{
    font-size: 25px;
}

.Tsize{
    font-size: 3rem;
}

.TbSize{
    font-size: 18px;
}

.justify-text{
    text-align: justify;
}

.MaxWidth{
    max-width: 25%;
}

p{
    color: white;
}

.myheader{
    background-color: rgba(86, 149, 216, 0.445);
    z-index: 1;
    backdrop-filter: blur(5px);
}

/* Media viewport */

@media only screen and (max-width : 768px)  {
    .img-fluid{
        width: 325px;
    }
}